@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";    
    ViewBag.pageTitle = "Confirm email change";
    ViewBag.Title = "Email";
    ViewBag.pTitle = "Email";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

@*<h1>@ViewData["Title"]</h1>*@
<partial name="_StatusMessage" model="Model.StatusMessage" />