
<meta charset="utf-8" />
<title>ASPIRE - Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="ASPIRE Balochistan" name="description" />
<meta content="Kafil uddin Ahmed" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/assets/images/favicon.ico">