
@{
    ViewData["Title"] = "Index";
    ViewBag.pageTitle = "Evidence";
    ViewBag.Title = "Videos";
    ViewBag.pTitle = "Videos";
    Layout = "~/Views/_Shared/_Layout.cshtml";

    var SchoolId = ViewBag.SchoolId;
    var IndicatorId = ViewBag.IndicatorId;
    var FileTypeId = ViewBag.FileTypeId;
}

<div id="SchoolInfo"></div>
<div id="LoadVideos"></div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <!-- Sweet Alerts js -->
    <script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>
    <script>
        $(document).ready(function () {
             $.get('@Url.Action("SchoolBasicInfo","Schools", new { id= SchoolId })', function (content) {
                 $("#SchoolInfo").html(content);
             });
            $("#datatable").DataTable();
            fetchRecord();
        });
        function fetchRecord() {
            $.ajax({
                url: '@Url.Action("RefreshListOfVideos", "IndicatorEvidences")',
                data: {
                    SchoolId: @SchoolId,
                    IndicatorId: @IndicatorId,
                    FileTypeId: @FileTypeId,
                },
                success: function (data) {
                    $("#LoadVideos").html(data);
                }
            });
        }
        function Delete(IndEviId) {
            Swal.fire({
                title: "Are you sure?",
                text: 'You Want to delete uploaded evidence!"',
                type: "warning",
                showCancelButton: !0, confirmButtonColor: "#34c38f",
                cancelButtonColor: "#f46a6a",
                confirmButtonText: "Yes, Back it!"
            }).then(function (t) {
                if (t.value == true) {
                    $.ajax({
                        type: "POST",
                        url: "/IndicatorEvidences/RemoveEvidence",
                        data: { id: IndEviId },
                        dataType: "json",
                        success: function (response) {
                            if (response != null) {
                                if (response.isValid) {
                                    Swal.fire("Back", response.message, "success");
                                    fetchRecord();
                                } else {
                                    alert(response.message);
                                }
                            }
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                }
            })
        }
    </script>
}