@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    ViewBag.pageTitle = "Change Password";
    ViewBag.Title = "Manage Profile";
    ViewBag.pTitle = "Manage";    
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<partial name="_StatusMessage" for="StatusMessage" />


<div class="checkout-tabs">
    <div class="row">
        <div class="col-lg-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" aria-selected="true">
                    <i class="bx bx-cool d-block check-nav-icon mt-4 mb-2"></i>
                    <p class="font-weight-bold mb-4">Update Profile</p>
                </a>
                
                <a class="nav-link active" id="v-pills-privacy-tab" data-toggle="pill" href="#v-pills-privacy" role="tab" aria-controls="v-pills-privacy" aria-selected="false">
                    <i class="mdi mdi-security d-block check-nav-icon mt-4 mb-2"></i>
                    <p class="font-weight-bold mb-4">Change Password</p>
                </a>
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Email" aria-selected="true">
                    <i class="mdi mdi-email-check d-block check-nav-icon mt-4 mb-2"></i>
                    <p class="font-weight-bold mb-4">Change Email</p>
                </a>
</div>
        </div>
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body">
                    <div class="tab-content" id="v-pills-tabContent">                       
                        <div class="tab-pane fade show active" id="v-pills-privacy" role="tabpanel" aria-labelledby="v-pills-privacy-tab">
                            <div class="alert alert-info" style="padding: .40rem 1.25rem" role="alert">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4 class="mt-2 card-title">Change Password</h4>
                                    </div>
                                </div>
                            </div>
                            <form id="change-password-form" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <input type="hidden" name="Username" value="@ViewData["Username"]" />
                                <div class="form-group">
                                    <label asp-for="Input.OldPassword"></label>
                                    <input asp-for="Input.OldPassword" class="form-control" />
                                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.NewPassword"></label>
                                    <input asp-for="Input.NewPassword" class="form-control" />
                                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-primary">Update password</button>
                            </form>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

